
{% import "mixins.twig" as mixin %}

{% block content %}

    <div class="bg-orange p-4">
        <h3 class="text-white">{{ pll__('Keep up-to-date with Music Crossroads') }}:</h3>
    </div>
    <div class="bg-brown p-4">
        <a href="#" data-toggle="modal" data-target="#subscribe-modal" class=" cta-btn text-white text-uppercase ">{{ pll__('Click to subscribe') }}</a>

    </div>
    <div class="my-4 bg-brown">
        <div class="bg-orange p-4">
            <h3 class="text-white">{{ pll__('Upcoming events') }}:</h3>
        </div>
        {{fn('do_shortcode','[facebook_events]') }}
    </div>

{% endblock %}
