.country-wrapper {
  header {
    .countries svg {
      text-align: left;
      height: 400px;
      width: auto;
      display: block;
    }
  }
  .tab-pane {
    .pane-block {
      border-right: 1px solid white;
      &:nth-child(n+2) {
        border-right: none;
      }
    }
  }
  li.nav-item {

    a.nav-link {
      border-right: 1px solid white;
      @include breakpoint(phone) {
        font-size: 10px;
      }
      &.active, &:hover {
        position: relative;
        &:after {
          width: 0;
          position: absolute;
          bottom: -36px;
          z-index: 1;
          left: 50%;
          transform: translate(-50%);
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          content: '';
          border-top: 20px solid $mc-brown;
        }
      }
    }
    &:last-of-type {
      a.nav-link {
        border-right: none
      }
    }
  }
  .activity-block {
    .inner {
      min-height: 300px;
      opacity: 0;
    }
    &:hover {
      cursor: pointer;
      .inner {
        background: rgba(0,0,0,0.5);
        opacity: 1;
        transition: opacity 0.5s linear, margin 0.5s;
      }
    }
  }
  #malawi, #mozambique, #zimbabwe {
    &:hover {
      fill:#ffffff;
      cursor: pointer;
    }
  }
  .malawi-active {
    #malawi{
        fill:#ffffff;
    }
  }
  .mozambique-active {
    #mozambique{
      fill:#ffffff;
    }
  }
  .zimbabwe-active {
    #zimbabwe{
      fill:#ffffff;
    }
  }
}