.media-wrapper {
 .tab-pane {
     .pane-block {
       border-right: 1px solid white;
       &:nth-child(n+2) {
         border-right: none;
       }
     }
 }
  li.nav-item {
    a.nav-link {
      border-right: 1px solid white;
      @include breakpoint(phone) {
        font-size: 10px;
      }
      &.active, &:hover {
        position: relative;
        &:after {
          width: 0;
          position: absolute;
          bottom: -36px;
          z-index: 1;
          left: 50%;
          transform: translate(-50%);
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          content: '';
          border-top: 20px solid $mc-m-grey;
        }
      }
    }
    &:last-of-type {
      a.nav-link {
        border-right: none
      }
    }
  }
  .gallery-menu {
    li.nav-item {

      a.nav-link {
        border-right: 1px solid $mc-d-grey;
        &.active, &:hover {
          color: $mc-orange!important;
          &:after {
            content:none;
          }
        }
      }
      &:last-of-type {
        a.nav-link {
          border-right: none;
        }
      }
    }
  }
  #artist-container {
    
      li.nav-item {
          border-right: 1px solid white;
  
        a.nav-link {
          border-radius: 50%;
          padding: 0 .5rem!important;
          margin: 0 0.5rem!important;
          @include breakpoint(phone) {
            font-size: 10px;
          }
          &.active,&:hover {
            position: relative;
            background: white;
            color: $mc-d-grey!important;
            
          }
          &:after {
            content: none;
          }
        }
        &:last-of-type,&:first-of-type {
          
            border-right: none
          
        }
      }
    
  }
}