.admin-bar {
  #wrapper-navbar {
    top: $adminbar-height;
    @include breakpoint(phone) {
      top:46px;
    }
  }
}
#wrapper-navbar {
  height: $navbar-height;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  background: $mc-brown;
  color: white;
  .navbar {
    line-height: 69px;
    padding: 0.5rem 0;
    .container {
      @include breakpoint(phone) {
        width:100%;
      }
    }
  }
  .social-icons {
    i {
      font-size: 1.2rem;
    }
  }
  .navbar-header {
    img {
      height: 45px;
      width: auto;
    }
    .navbar-brand {
      padding: 0;
    }
  }
  .dropdown-menu {
    min-width: 0;
    text-align: center;
    .menu-item a:hover {
      background-color: $mc-l-grey;
    }
  }

  .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    background: transparent;
    margin: 0;
    padding: 0;
    float: right;
    width: 50px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background $button-transistion-duration;
    &:focus {
      outline: none;
    }
    span {
      transition: background 0s $button-transistion-duration;
      display: block;
      position: absolute;
      top: 17px;
      left: $button-pad;
      right: $button-pad;
      height: $bar-thickness;
      background: white;
      border-radius: 1px;
      &::before, &::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: $bar-thickness;
        border-radius: 1px;
        background-color: #fff;
        content: "";
        transition-duration: $button-transistion-duration, $button-transistion-duration;
        transition-delay: $button-transistion-duration, 0s;
      }
      &::before {
        top: -12px;
        transition-property: top, transform;
      }
      &::after {
        bottom: -12px;
        transition-property: bottom, transform;
      }
    }
    &.is-active {
      z-index: 1051;
      span {
        background: none;
        &::before, &::after {
          transition-delay: 0s, $button-transistion-duration;
        }
        &::before {
          top: 0;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }

    }
  }

}
#main-menu {
  li {
    a {
      padding: 0 0.5rem;
      font-family: Eveleth-Thin, Arial;
      text-transform: uppercase;
      color: white;
      font-size: 14px;
    }
    &.active, &:hover {
      a {
        font-family: Eveleth, Arial;
      }

    }
  }

}

#mc-menu {
  background: rgba(239, 170, 63,0.9);
  .modal-content {
    background: transparent;
    margin-top: 6rem;
    border: none;
    #main-menu {
      li {
        display: block;
        float: none;
        margin-bottom: 1rem;
        a {
          font-size:1.5rem;
        }
      }
    }
  }
}