.news-wrapper {
  #news-container {
    li.nav-item {
        border-right: 1px solid white;

      a.nav-link {
        border-radius: 50%;
        padding: 0 .5rem!important;
        margin: 0 0.5rem!important;
        @include breakpoint(phone) {
          font-size: 10px;
        }
        &.active,&:hover {
          position: relative;
          background: white;
          color: $mc-d-grey!important;
          
        }
      }
      &:last-of-type,&:first-of-type {
        
          border-right: none
        
      }
    }
  }
}


